* {
  letter-spacing: 0.02em;
}

ol,
ul {
  margin-bottom: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.unfilled {
  font-variation-settings: "FILL" 0;
}
