<header class="navbar navbar-expand-xl bg-white shadow container py-3 px-4 mt-lg-5">
  <div class="container">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt="" class="me-4 img-fluid" /></a>
      <ul class="list-unstyled d-none d-xl-flex align-items-center">
        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle px-4 text-neutral-400"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            探索
          </a>
          <!-- 電腦版探索選單 -->
          <div class="desktop-nav-dropdown-menu dropdown-menu mt-2 py-0 overflow-hidden shadow border-0">
            <div class="d-flex bg-white">
              <!-- 選單第一層 -->
              <ul class="list-unstyled dropdown-menu-level-one bg-neutral-100">
                <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">探索全部</a></li>
                <li><a class="dropdown-item" href="#">音樂</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li><a class="dropdown-item active" href="#">程式</a></li>
                <li><a class="dropdown-item" href="#">藝術</a></li>
                <li><a class="dropdown-item" href="#">人文</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li><a class="dropdown-item" href="#">行銷</a></li>
                <li><a class="dropdown-item" href="#">投資理財</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
              </ul>
              <!-- 選單第二層 -->
              <ul class="list-unstyled dropdown-menu-level-two">
                <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">所有程式</a></li>
                <li><a class="dropdown-item" href="#">程式入門</a></li>
                <li><a class="dropdown-item" href="#">網頁前端</a></li>
                <li><a class="dropdown-item active" href="#">網頁後端</a></li>
                <li><a class="dropdown-item" href="#">網站架設</a></li>
                <li><a class="dropdown-item" href="#">資訊安全</a></li>
                <li><a class="dropdown-item" href="#">程式語言</a></li>
                <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                <li><a class="dropdown-item" href="#">資料科學</a></li>
              </ul>
              <!-- 選單第三層 -->
              <section class="list-unstyled dropdown-menu-level-three">
                <h2 class="fs-7 text-neutral-400 d-flex align-items-center border-bottom border-neutral-200 pb-3">
                  <img src="../assets/images/icons/ic_fire.png" alt="" width="24" class="me-2" />熱門網頁前端課程
                </h2>
                <ul class="list-unstyled">
                  <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                    <div class="position-relative">
                      <img
                        src="../assets/images/course-5.png"
                        alt=""
                        width="100"
                        height="100"
                        class="object-fit-cover me-2 rounded-2 overflow-hidden flex-shrink-0"
                      />
                      <p
                        class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger rounded-pill text-nowrap fs-8"
                      >
                        8 折
                      </p>
                    </div>
                    <div>
                      <h3 class="fs-7 mb-3">小白也會！從零開始學習 Python 程式設計</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="../assets/images/avatar-2.png" alt="" width="32" class="me-2" />
                          <h4 class="fs-7 text-neutral-400 fw-normal">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <p class="text-neutral-300 fs-9 text-decoration-line-through text-end">NT$ 3,200</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between py-2 fs-8">
                        <p>已有 420 位同學加入</p>
                        <p class="fw-medium d-flex align-items-center">
                          <span class="material-symbols-outlined icon-star fs-7"> star </span><span>4.0</span>(333)
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                    <div class="position-relative">
                      <img
                        src="../assets/images/course-5.png"
                        alt=""
                        width="100"
                        height="100"
                        class="object-fit-cover me-2 rounded-2 overflow-hidden flex-shrink-0"
                      />
                      <p
                        class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger rounded-pill text-nowrap fs-8"
                      >
                        8 折
                      </p>
                    </div>
                    <div>
                      <h3 class="fs-7 mb-3">小白也會！從零開始學習 Python 程式設計</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="../assets/images/avatar-2.png" alt="" width="32" class="me-2" />
                          <h4 class="fs-7 text-neutral-400 fw-normal">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-neutral-300 fw-bold text-end">已購買</p>
                          <p class="text-neutral-300 fs-9 text-decoration-line-through text-end">NT$ 3,200</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between py-2 fs-8">
                        <p>已有 420 位同學加入</p>
                        <p class="fw-medium d-flex align-items-center">
                          <span class="material-symbols-outlined icon-star fs-7"> star </span><span>4.0</span>(333)
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                    <div class="position-relative">
                      <img
                        src="../assets/images/course-5.png"
                        alt=""
                        width="100"
                        height="100"
                        class="object-fit-cover me-2 rounded-2 overflow-hidden flex-shrink-0"
                      />
                      <p
                        class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger rounded-pill text-nowrap fs-8"
                      >
                        8 折
                      </p>
                    </div>
                    <div>
                      <h3 class="fs-7 mb-3">小白也會！從零開始學習 Python 程式設計</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="../assets/images/avatar-2.png" alt="" width="32" class="me-2" />
                          <h4 class="fs-7 text-neutral-400 fw-normal">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <p class="text-neutral-300 fs-9 text-decoration-line-through text-end">NT$ 3,200</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between py-2 fs-8">
                        <p>已有 420 位同學加入</p>
                        <p class="fw-medium d-flex align-items-center">
                          <span class="material-symbols-outlined icon-star fs-7"> star </span><span>4.0</span>(333)
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </li>
        <li>
          <form role="search" class="position-relative">
            <span
              class="material-symbols-outlined text-neutral-300 position-absolute top-50 start-0 translate-middle-y ms-2"
            >
              search
            </span>
            <input
              class="form-control ps-5"
              type="search"
              placeholder="搜尋各種音樂、數學、程式及設計課程"
              aria-label="Search"
            />
            <button class="btn btn-sm btn-primary position-absolute top-50 end-0 translate-middle-y me-2" type="submit">
              搜尋
            </button>
          </form>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="navbar-nav align-items-lg-center flex-row">
        <li class="nav-item me-4 pt-1">
          <button type="button" class="btn position-relative p-0">
            <span class="material-symbols-outlined unfilled"> notifications </span>
            <span
              class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-light rounded-circle"
            >
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </li>
        <li class="nav-item me-4 pt-1">
          <span class="material-symbols-outlined unfilled"> shopping_cart </span>
        </li>
        <li class="nav-item d-none d-xl-block">
          <a class="btn btn-primary" href="#">登入 / 註冊</a>
        </li>
      </ul>
      <button
        class="navbar-toggler order-1 order-xl-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="offcanvas offcanvas-end d-flex d-xl-none"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!-- <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div> -->
      <div class="offcanvas-body position-relative d-flex flex-column d-lg-block p-0">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="mobile-nav-dropdown-menu dropdown-menu-first rounded-0 px-4 py-3">
              <ul class="list-unstyled dropdown-menu-level-one">
                <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">探索全部</a></li>
                <li><a class="dropdown-item" href="#">音樂</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li>
                  <a class="dropdown-item active" data-bs-toggle="dropdown" href="#">程式</a>
                  <ul class="list-unstyled dropdown-menu dropdown-menu-level-two">
                    <li class="mb-2 border-bottom border-neutral-200">
                      <a
                        class="dropdown-item dropdown-item-all d-flex align-items-center justify-content-center position-relative"
                        href="#"
                        ><span class="material-symbols-outlined position-absolute start-0"> chevron_left </span
                        >所有程式</a
                      >
                    </li>
                    <li><a class="dropdown-item" href="#">程式入門</a></li>
                    <li><a class="dropdown-item" href="#">網頁前端</a></li>
                    <li><a class="dropdown-item" href="#">網頁後端</a></li>
                    <li><a class="dropdown-item" href="#">網站架設</a></li>
                    <li><a class="dropdown-item" href="#">資訊安全</a></li>
                    <li><a class="dropdown-item" href="#">程式語言</a></li>
                    <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                    <li><a class="dropdown-item" href="#">資料科學</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#">藝術</a></li>
                <li><a class="dropdown-item" href="#">人文</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li><a class="dropdown-item" href="#">行銷</a></li>
                <li><a class="dropdown-item" href="#">投資理財</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="d-xl-none border-top p-3 bg-white w-100 position-absolute bottom-0 start-0">
          <a class="btn btn-primary d-block" href="#">登入 / 註冊</a>
        </div>
      </div>
    </div>
  </div>
</header>
