<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 展開明細 -->
    <section class="container py-5 bill">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn d-flex aling-items-center px-0 border-0"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        展開明細<span class="material-symbols-outlined"> keyboard_arrow_up </span>
      </button>
      <!-- Modal -->
      <div
        class="modal fade bottom-0 rounded-0"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer d-flex justify-content-between w-100">
              <button
                type="button"
                class="btn d-flex aling-items-center px-0 border-0"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                收合明細<span class="material-symbols-outlined"> keyboard_arrow_down </span>
              </button>
              <div class="btn btn-primary">結帳</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 內頁選單 sticky -->
    <section class="container py-5">
      <ul class="nav nav-pills mb-3 sticky-top bg-white" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            Home
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            Profile
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            Contact
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-disabled-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-disabled"
            type="button"
            role="tab"
            aria-controls="pills-disabled"
            aria-selected="false"
            disabled
          >
            Disabled
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
          suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
          illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
          suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
          illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
          suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
          illo?
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
          tabindex="0"
        >
          ...
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
          tabindex="0"
        >
          ...
        </div>
        <div
          class="tab-pane fade"
          id="pills-disabled"
          role="tabpanel"
          aria-labelledby="pills-disabled-tab"
          tabindex="0"
        >
          ...
        </div>
      </div>
    </section>
    <hr />
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
